<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/WatchMyWatchLogo.png">

    <link href='https://fonts.googleapis.com/css?family=ZCOOL XiaoWei' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link th:href="@{/css/headerDesign.css}" rel="stylesheet"/>
    <link th:href="@{/css/indexPage.css}" rel="stylesheet"/>


    <title th:text="${title}"></title>

</head>