<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <img class=" align-middle p-2 m-0" src="images/WatchMyWatchLogo.png" alt="" width="80" height="80">
        <a class="navbar-brand" href="/">Watch My Watch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav justify-content-end">



                <div th:if="!${#httpServletRequest.remoteUser}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                </div>


                <div th:if="${#httpServletRequest.remoteUser}">
                <li>
                    <form  th:action="@{/logout}"  method="POST">
                        <!--<a class="nav-link" href="/login">Logout <span class="sr-only">(current)</span></a>-->
                        <button class="btn btn-outline-danger my-2 my-sm-0 btm-sm"  type="submit">Logout</button>
                    </form>
                </li>
                </div>


                <li class="nav-item">
                <a class="nav-link" href="/watchList">Watches</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/watchConfigurator">Configure Watch</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/shoppingcart">Shoppingcart</a>
                        <a class="dropdown-item" href="/myOrders">My Orders</a>
                        <a class="dropdown-item" href="/register">Register</a>
                    </div>
                </li>

            </ul>
        </div>

    </nav>


</header>