<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
</head>
<body>
    <header th:replace="fragments/header :: header">
    </header>

    <h1>Checkout</h1>
     <form action="#" th:action="@{/newOrder}" th:object="${newPayment}"method="post">
        <!-- Price -->
         </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total:</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:utext="${total}+'€'"></h6>
            </div>
        </div>

        <!-- PaymentMethod -->
        <!-- TODO: field nullifies the default checked -->
        <div class="card">
            <h5 class="card-title">Payment Method</h5>
            <div th:each="method, i : ${paymentMethods}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod"
                           th:id="'payment'+${i.index}"
                           th:value="${method}"
                           th:checked="${prefPaymentMethod == method}"
                           th:field="*{paymentMethod}">
                    <label class="form-check-label"
                           th:for="'payment'+${i.index}"
                           th:utext="${method}">
                    </label>
                    <p th:text="${prefPaymentMethod == method} ? 'Prefered' : ''"></p>
                </div>
            </div>
        </div>

        <!-- Address -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Shipping Address</h5>
                <p class="card-text" th:utext="'Street: '+${address.getStreet()}"></p>
                <p class="card-text" th:utext="'City: '+${address.getCity()}"></p>
                <p class="card-text" th:utext="'ZIP: '+${address.getZip()}"></p>
                <p class="card-text" th:utext="'State: '+${address.getState()}"></p>
            </div>
        </div>

        <!-- Submit -->
         <p><input type="submit" class="btn btn-primary btn-lg" value="Buy Now" /></p>
    </form>

    <footer th:replace="fragments/footer :: footer">
    </footer>

    <th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>