<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="text-center">
<header th:replace="fragments/header :: header">
</header>
<!---->
<div class="container" style="max-width: 540px;">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h1 style="text-align: center">Please sign in</h1>
        <img class="mb-4" src="images/WatchMyWatchLogo.png" alt="" width="130" height="130">
        <!--Errors-->
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid Email and Password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <!--Email-->
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" required=""
               autofocus="">
        <!--Password-->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
               required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Sign In</button>
    </form>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>