<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header">
</header>

<div class="container" style="max-width: 540px;">
    <h1 style="text-align: center">Order</h1>
    <div>
        <div class="alert alert-success" role="alert">
            Success!
        </div>
        <a href="/" class="btn btn-primary btn-lg btn-block">Continue Shopping</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>