<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile</title>
</head>
<body>
<h1>My Profile</h1>
<div>
    <p th:text=" 'Firstname: '+ ${firstName}" />
</div>
<div>
    <p th:text=" 'Lastname: '+ ${lastName}" />
</div>
<div>
    <p th:text=" 'E-mail: '+ ${email}" />
</div>
<div>
    <p th:text=" 'Date of Birth: '+ ${dob}" />
</div>


<h2>Adresse</h2>

<div>
    <p th:text=" 'Street and Housnumber: '+ ${street}" />
</div>
<div>
    <p th:text=" 'ZIP: '+ ${zip}" />
</div>
<div>
    <p th:text=" 'City: '+ ${city}" />
</div>
<div>
    <p th:text=" 'State: '+ ${state}" />
</div>
</html>