<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="text-center">
<header th:replace="fragments/header :: header">
</header>
<div class="container-xl">
    <h1 style="text-align: center">Profile</h1>

    <div class="card-deck mb-3 text-center">
        <!-- Personal Info -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Personal Info</h4>
            </div>
            <div class="card-body">
                <p class="card-text" th:text=" 'Firstname: '+ ${firstName}"/>
                <p class="card-text" th:text=" 'Lastname: '+ ${lastName}"/>
                <p class="card-text" th:text=" 'E-mail: '+ ${email}"/>
                <p class="card-text" th:text=" 'Date of Birth: '+ ${dob}"/>
            </div>
            <!-- Address -->
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Address</h4>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text=" 'Street and Housnumber: '+ ${street}"/>
                    <p class="card-text" th:text=" 'ZIP: '+ ${zip}"/>
                    <p class="card-text" th:text=" 'City: '+ ${city}"/>
                    <p class="card-text" th:text=" 'State: '+ ${state}"/>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/updateUser">Update User Details</a>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>