<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="text-center">
<header th:replace="fragments/header :: header">
</header>
<h1>My Profile</h1>
<div>
    <p th:text=" 'Firstname: '+ ${firstName}"/>
</div>
<div>
    <p th:text=" 'Lastname: '+ ${lastName}"/>
</div>
<div>
    <p th:text=" 'E-mail: '+ ${email}"/>
</div>
<div>
    <p th:text=" 'Date of Birth: '+ ${dob}"/>
</div>


<h2>Address</h2>

<div>
    <p th:text=" 'Street and Housnumber: '+ ${street}"/>
</div>
<div>
    <p th:text=" 'ZIP: '+ ${zip}"/>
</div>
<div>
    <p th:text=" 'City: '+ ${city}"/>
</div>
<div>
    <p th:text=" 'State: '+ ${state}"/>
</div>
<button class="btn btn-outline-danger my-2 my-sm-0 btm-sm"><a href="/updateUser">Update User Details</button>
<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>