<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Register</title>
</head>
<body>
    <h1 >Form</h1>
    <form action="#" th:action="@{/newUser}" th:object="${newUser}" method="post">
            <p>firstname: <input type="text" th:field="*{firstname}" /></p>
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>

            <p>lastname: <input type="text" th:field="*{lastname}" /></p>
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>

            <p>phone: <input type="text" th:field="*{phone}" /></p>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

            <p>email: <input type="email" th:field="*{email}" /></p>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>


            <p>dob: <input type="date" th:field="*{dob}" /></p>
        <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>

            <p>password: <input type="password" th:field="*{securePassword}" /></p>
            <span th:if="${#fields.hasErrors('securePassword')}" th:errors="*{securePassword}"></span>



        <div th:action="@{/newCustomer}" th:object="${newAddress}" method="post">
            <p>city: <input type="text" th:field="*{city}" /></p>
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

            <p>state: <input type="text" th:field="*{state}" /></p>
            <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>

            <p>street: <input type="text" th:field="*{street}" /></p>
            <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>

            <p>zip: <input type="text" th:field="*{zip}" /></p>
            <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span>
        </div>

        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>