<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppingcart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
</head>
<body>
    <header th:replace="fragments/header :: header">
    </header>

    <h1>Your Shoppingcart</h1>
    <div>
        <div th:if="${#lists.isEmpty(items)}">
            <h1><span class="label label-danger">Empty</span></h1>
        </div>
        <div th:unless="${#lists.isEmpty(items)}">
            <div class="list-group" th:each="watch : ${items}">
                <a href="#" class="list-group-item list-group-item-action"
                   th:utext="${watch.getName()}+' '+${watch.getPriceWithFee()}"></a>
                <form action="#" th:action="@{'/removeWatch/'+${watch.getId()}}" method="post">
                    <button type="submit" class="btn btn-outline-danger">X</button>
                </form>
            </div>
            <br>
            <div th:utext="'Total: '+${shoppingcart1.getTotal()}+'€ plus '+${shippingFee}+'€ shipping'"></div>

            <a th:href="'/checkout'" class="btn btn-primary btn-lg btn-block">Proceed to Checkout</a>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer">
    </footer>

    <th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>