<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Watch-Configurator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
</head>
<body>

<header th:replace="fragments/header :: header">
</header>

<form action="#" th:action="@{/newWatch}" method="post">

    <p>Name: <input type="text" name="newWatch" th:field="${newWatch.name}"/></p>
    <span th:if="${#fields.hasErrors('newWatch.name')}" th:errors="*{newWatch.name}"></span>

    <p>Particularity: <input type="text" name="newWatch" th:field="${newWatch.particularity}"/></p>
    <!--<span th:if="${#fields.hasErrors('particularity')}" th:errors="*{particularity}"></span>-->

    <div th:action="@{/newWatch}" th:object="${newBracelet}" method="post">
        <table>
            <thead>
            <tr>
                <th>Check</th>
                <th>BraceletID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singleBracelet : ${bracelets}">
                <td>
                    <input type="radio" name="group1" th:field="*{id}" th:value="${singleBracelet.getId()}"/>
                </td>
                <td th:utext="${singleBracelet.getId()}">...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:action="@{/newWatch}" th:object="${newCasing}" method="post">
        <table>
            <thead>
            <tr>
                <th>Check</th>
                <th>CasingID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singleCasing : ${casings}">
                <td>
                    <input type="radio" name="group2" th:field="*{id}" th:value="${singleCasing.getId()}"/>
                </td>
                <td th:utext="${singleCasing.getId()}">...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:action="@{/newWatch}" th:object="${newClockwork}" method="post">
        <table>
            <thead>
            <tr>
                <th>Check</th>
                <th>ClockworkId</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singleClockwork : ${clockworks}">
                <td>
                    <input type="radio" name="group3" th:field="*{id}" th:value="${singleClockwork.getId()}"/>
                </td>
                <td th:utext="${singleClockwork.getId()}">...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><input type="submit" value="Submit"/></p>
</form>

<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>

</body>
</html>