<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
</head>
<body>
<h1>Watch List</h1>
<div>
    <div th:if="${#lists.isEmpty(watches)}">
        <h1><span class="label label-danger">No Watches found</span></h1>
    </div>
    <div th:unless="${#lists.isEmpty(watches)}">
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Particularity</th>
                    <th>Price</th>
                    <th>Bracelet</th>
                    <th>Casing</th>
                    <th>Clockwork</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="watch : ${watches}">
                    <td th:utext="${watch.getId()}">...</td>
                    <td th:utext="${watch.getName()}">...</td>
                    <td th:utext="${watch.getParticularity()}">...</td>
                    <td th:utext="${watch.getPriceWithFee()}">...</td>
                    <td th:utext="${watch.bracelet.getName()}">...</td>
                    <td th:utext="${watch.casing.getName()}">...</td>
                    <td th:utext="${watch.clockwork.getName()}">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

</body>
</html>