<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
    <link th:href="@{/css/watchList.css}" rel="stylesheet" />
</head>
<body>
<h1>Watch List</h1>
<div>
    <div th:if="${#lists.isEmpty(watches)}">
        <h1><span class="label label-danger">No Watches found</span></h1>
    </div>
    <div th:unless="${#lists.isEmpty(watches)}">
        <div class="allWatches" th:each="watch : ${watches}">
            <div class="singleWatch col-md-4 panel panel-default">
                <div class="panel-heading">
                    <div class="singleWatch-name" th:utext="${watch.getName()}"></div>
                </div>
                <div class="panel-body">
                    <div class="singleWatch-particularity" th:utext="'Particularity: '+${watch.getParticularity()}"></div>
                    <div class="singleWatch-price" th:utext="'Price: '+${watch.getPriceWithFee()}"></div>
                    <div class="singleWatch-braceletName" th:utext="'Bracelet: '+${watch.bracelet.getName()}"></div>
                    <div class="singleWatch-casingName" th:utext="'Casing: '+${watch.casing.getName()}"></div>
                    <div class="singleWatch-clockworkName" th:utext="'Clockwork: '+${watch.clockwork.getName()}"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

</body>
</html>